# Default ignored files
/../../Zen-browser /.idea/shelf/
/../../Zen-browser /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Zen-browser /.idea/httpRequests/
# Datasource local storage ignored files
/../../Zen-browser /.idea/dataSources/
/../../Zen-browser /.idea/dataSources.local.xml
